 /* *{
     border: 1px solid black;
}   */ 

.text{
    margin: 10px;
    font-size: large;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Card{
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width:55px;
 
}
.imgMenu{
    width: 30px;
}

.ul{
    list-style: none;
    padding: 0;
}
.ulItems a{
    text-decoration: none;
    color: #157a8c;
}
.ulItems{
     font-size:23px;
     font-weight: bold;
     margin-left: 20px;
}
.titulo{
    margin-top: 30px; 
    margin-bottom: 30px; 
    padding-left: 20px; 
    width:100%;
}
.imageproject{
    width: 230px;
    height: 230px;
}

.proxPage{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 50px;
}
.proxPageSet{
    width: 40px;
}
